{% from 'macros.html' import render_post %}
<html dir="rtl">
    <head>
        <title>4fun</title>
        <meta charset="utf-8">
    </head>
    <body>
        <div>
            <div id="add-form">
                <form action="/new-post" method="post" enctype="multipart/form-data">
                    <div>
                        <br>
                        <input placeholder="כותרת" name="title" required><br>
                        <textarea name="content" placeholder="תוכן" rows="3" required></textarea><br>
						<textarea name="tags" rows="2" placeholder="תגיות, מופרדות בפסיק"></textarea><br>
                        <input type="file" name="image"><br>
                        <button type="submit" id="send-button">שגר   </button><br>
                    </div>
                </form>
            </div>
            <br>
            {% for thread_id in threads %}
            {{ render_post(posts_by_id[thread_id]) }}
            {% for child_id in threads[thread_id] %}
            {{ render_post(posts_by_id[child_id],
            is_reply=True,
            parent_title=posts_by_id[thread_id]["title"]) }}
            {% endfor %}
			{% endfor %}
        </div>
    </body>
</html>
