<!doctype html>
{% from 'macros.html' import render_post %}
<html lang="he">
    <head>
        <title>תגובה ל{{ title }}</title>
    </head>
    <body dir="rtl">
        <div>
            <div id="add-form">
                <form action="/reply/{{ post['id'] }}" method="post" enctype="multipart/form-data">
                    <div>
                        <h1>תגובה ל: {{ title }}</h1>
                        <textarea placeholder="תוכן" rows="3"
                                  required name="content"></textarea><br>
                        <input type="file" name="image"  ><br>
                        <input type="hidden" name="parent" value="{{ post['id'] }}"><br>
                        <button type="submit" id="send-button">שגר   </button><br>
                    </div>
                </form>
                <br>
            </div>
            <br>
            {{ render_post(post) }}
        </div>
    </body>
</html>
